.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--clr-lime950);
    overscroll-behavior: contain;
}

.footer__links-wrapper {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 1rem;
    padding: 0;
}

.footer__links {
    font-size: var(--size-2xl);
    color: var(--clr-orange400);
     margin-bottom: 1rem;
}

.footer__img {
    width: 7rem;
    margin-bottom: 2rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */
 
/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */