.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: .7rem;
    background-color: var(--clr-light);
}

.intro__main-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 3;
}

.intro__side {
    padding: 1rem;
    background-color: var(--clr-red700);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
}

.intro__side-desc {
    max-width: 30ch;
    text-align: center;
    color: var(--clr-light);
    margin: auto;
    margin-bottom: 0.5rem;
    font-size: var(--size-base);
}

.intro__side-btn {
    background-color: var(--clr-lime600);
    text-align: center;
    font-size: var(--size-lg);
}

.intro__header {
    color: var(--clr-lime900);
    font-size: var(--size-xl);
    text-align: center;
    text-transform: capitalize;
    padding: 1rem 0 .5rem 0;
    max-width: 60ch;
    margin: auto;
}

.intro__paragraph {
    max-width: 50ch;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    font-size: var(--size-sm);
}

.intro__phonenumber {
    white-space: nowrap;
    color: var(--clr-red700);
    font-weight: 700;
}

.intro__btn {
    background-color: var(--clr-lime600);
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: var(--size-lg);  
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .intro__side-desc {
        font-size: var(--size-lg);
    }
    
    .intro__side-btn {
        font-size: var(--size-xl);
    }

    .intro__header {
        font-size: var(--size-2xl);
    }

    .intro__paragraph {
        font-size: var(--size-lg);
        max-width: 63ch;
    }

    .intro__btn {
        font-size: var(--size-xl);  
    }
}
 
/* md */
@media (min-width: 850px) {
    .intro__side-desc {
        font-size: var(--size-xl);
    }
    
    .intro__side-btn {
        font-size: var(--size-2xl);
    }

    .intro__paragraph {
        font-size: var(--size-xl);
        max-width: 68ch;
    }
}

/* lg */
@media (min-width: 1024px) {
    .intro__header {
        font-size: var(--size-3xl);
    }

    .intro__paragraph {
            margin-bottom: 2rem;
    }

    .intro__btn {
        font-size: var(--size-2xl);
        margin-bottom: 2rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .intro {
        flex-direction: row;
    }

    .intro__side-btn {
        font-size: var(--size-2xl);
    }

    .intro__header {
        font-size: var(--size-4xl);
    }

    .intro__paragraph {
        font-size: var(--size-2xl);
    }

    .intro__btn {
        font-size: var(--size-2xl);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .intro__side-desc {
        font-size: var(--size-3xl);
    }
    
    .intro__side-btn {
        font-size: var(--size-4xl);
    }

    .intro__header {
        font-size: var(--size-4xl);
    }

    .intro__paragraph {
        font-size: var(--size-3xl);
    }

    .intro__btn {
        font-size: var(--size-4xl);
    }
}
