.menuitems {
    background-color: var(--clr-light);
    margin: auto;
    margin-top: .7rem;
    display: flex;
    flex-direction: column;
}

.menuitems__food {
    color: var(--clr-lime900);
    font-size: var(--size-xl);
    text-align: center;
    text-transform: capitalize;
    padding: 1rem 0 .5rem 0;
    max-width: 60ch;
    margin: auto;
}

.menuitems__food-main {
    max-width: 50ch;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    font-size: var(--size-sm);
}

.menuitems__food-list {
    margin: 0;
    padding: 0;
}

.menuitems__food-elements {
    list-style-type: none;
    text-align: center;
    max-width: 40ch;
    margin: auto;
    margin-bottom: 1.5rem;   
}

.menuitems__element-header {
    font-size: var(--size-lg);
}

.menuitems__element-desc {
    font-size: var(--size-sm);
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .menuitems__food {
        font-size: var(--size-2xl);
    }
    
    .menuitems__food-main {
        font-size: var(--size-base);
    }

    .menuitems__food-elements {
        max-width: 50ch;
    }

    .menuitems__element-header {
        font-size: var(--size-xl);
    }
    
    .menuitems__element-desc {
        font-size: var(--size-base);
    }
}
 
/* md */
@media (min-width: 824px) {
    .menuitems__food {
        font-size: var(--size-3xl);
    }
    
    .menuitems__food-main {
        font-size: var(--size-lg);
    }

    .menuitems__element-header {
        font-size: var(--size-2xl);
    }
    
    .menuitems__element-desc {
        font-size: var(--size-lg);
    }
}

/* lg */
@media (min-width: 1024px) {
    .menuitems__food {
        font-size: var(--size-3xl);
    }
    
    .menuitems__food-main {
        font-size: var(--size-lg);
    }

    .menuitems__element-header {
        font-size: var(--size-2xl);
    }
    
    .menuitems__element-desc {
        font-size: var(--size-lg);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */