
.header {
    z-index: 1;
}
.header__top-wrapper {
    background-color: var(--clr-orange200);
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;    
}

.header__logo {
    margin: auto;
    width: 20rem;
}

.header__top-number {
    color: var(--clr-dark);
    text-align: center;
    margin: auto;
    font-size: var(--size-3xl);
    font-family: "Kumbh Sans", sans-serif;
    color: var(--clr-lime900);
    font-weight: 900;

}

.header__element-wrapper {
    top: 0;
    z-index: 1000;
    position: sticky; /* For Safari */
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-orange400);
    padding-bottom: .7rem;
    list-style-type: none;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
}

.header__heading {
    margin: 0 1rem;
    font-weight: 600;
    font-size: var(--size-3xl);
    font-family: "Kumbh Sans", sans-serif;
}

/* xs */
@media (min-width: 0px) {
    .header__top-wrapper {
        padding: var(--size-xs);
    }

    .header__logo {
        width: 15rem;
    }

    .header__top-number {
        font-size: var(--size-3xl);
        font-weight: 800;
    }

    .header__element-wrapper {
        padding-bottom: var(--size-xs);
    }
    
    .header__heading {
        margin: 0 1rem;
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width: 640px) {
    .header__top-wrapper {
        padding: var(--size-sm);
    }

    .header__logo {
        width: 17rem;
    }

    .header__element-wrapper {
        padding-bottom: var(--size-sm);
    }
    
    .header__heading {
        font-size: var(--size-lg);
    }
}

/* md */
@media (min-width: 768px) {
    .header__top-wrapper {
        padding: var(--size-base);
    }

    .header__top-number {
        font-size: var(--size-3xl);
    }

    .header__element-wrapper {
        padding-bottom: var(--size-base);
    }
    
    .header__heading {
        font-size: var(--size-xl);
    }
}

/* lg */
@media (min-width: 1024px) {
    .header__top-wrapper {
        padding: var(--size-lg);
    }

    .header__logo {
        width: 20rem;
    }

    .header__element-wrapper {
        padding-bottom: var(--size-lg);
    }
    
    .header__heading {
        font-size: var(--size-2xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .header__top-wrapper {
        padding: var(--size-xl);
    }

    .header__logo {
        width: 25rem;
    }

    .header__element-wrapper {
        padding-bottom: var(--size-xl);
    }
    
    .header__heading {
        font-size: var(--size-2xl);
    }
}
